/* Hegth del immage en el slider */
.height{
    height: 457px;
}

/* se usa container para la posision del immage */
.container {
    position: relative;
    text-align: center;
  }

  /* se usa para overlap el card board */
.centered {
    position: absolute;
    top: 63%;
    left: 59%;
    height: 364px;
    width: 700px;
    border: 1px solid white;
    transform: translate(-50%, -50%);
  }

  
  /* color gris claro se aplica en un row donde se encuentra el slider*/
.bg-gray{
    background-color: rgb(219, 219, 219);
}

/* size para el text */
.txt-20px {
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    
}

/* text size para el card bord */
.card-text{
    font-size: 20px;
    text-align: left;
}

/* Se agrega color negro en el boton de los card borad */
.button-black {
    margin-right: 503px;
    color: black;
    background-color: white;
    border-color: black

}

/* se cambia color de buton del card board cuando pasas el mouse ensima  */
.button-black:hover {
    color: white;
    background-color: black;
    border: 2px solid blue;
}

/* abrimos mas las flechas del slider  */
.carousel-control-next, .carousel-control-prev {
    width: 4%;
}