
/* cuando el hover pasa cambia de color el card board */
.bg-color:hover{
    background-color: black;
    color: white;
    border: 2px solid blue;

}

/* El tamano de los card board */
.card {
    height: 238px;
    width: 269px;
    border: 1px solid gray;
}
