<h1>Welcome to app!</h1>
<div class="row mb-5 ">
  <div class="card  ml-2 mr-2 bg-color">
    <div class="card-body ">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <p class="pl-3">octuber 8, 2017</p>
  </div>

  <div class="card ml-2 mr-2 bg-color">
    <div class="card-body ">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <p class="pl-3">octuber 16, 2017</p>
  </div>

  <div class="card ml-2 mr-2 bg-color ">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <p class="pl-3">octuber 25, 2017</p>
  </div>

  <div class="card ml-2 mr-2 bg-color ">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <p class="pl-3 ">octuber 1, 2017</p>
  </div>
</div>