
<div class="row">
<div>
    <img  src="assets/images/logo-michelangelo.jpg">
</div>  

</div>
<div class="row">
    <ul class="nav nav-tabs ml-40px">
        
      <li class="nav-item">
        <a class="nav-link active" href="#" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/plan">Plan your experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/programme">Programme</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
          <a class="nav-link " href="#" routerLink="/login">LogIn</a>
        </li>
    </ul>
    </div>



