<div class="row">
  <div>
    <img src="assets/images/logo-michelangelo.jpg">
  </div>
</div>

<div class="row">
  <ul class="nav nav-tabs ml-40px">
    <li class="nav-item">
      <a class="nav-link "  routerLinkActive="active" href="#" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"  routerLinkActive="active" routerLink="/plan">Plan your experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLinkActive="active" routerLink="/programme">Programme</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#" routerLinkActive="active" routerLink="/register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#" routerLinkActive="active" routerLink="/login">LogIn</a>
    </li>
  </ul>
</div>