
  
<div class="mt-5 mb-5">
  
  <form [formGroup]="logInForm" (ngSubmit)="logInClientUser()" novalidate>
    <div class="form-group">
      <label for="exampleInputEmailValid">{{email}}</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" id="exampleInputEmailValid" formControlName="email" placeholder="Enter email" required >
    </div>

    <div class="form-group">
      <label for="exampleInputPassworde">Password</label>
      <input type="password" class="form-control" id="exampleInputPassworde" formControlName="password" placeholder="Password" required >
    </div>

    <button type="submit" [disabled]="!logInForm.valid" class="btn btn-primary" >Submit</button>
  </form>
</div>