.mb-20px{
    margin-top: 100px;
}

.txt-50px {
    font-size: 50px;
}

.txt-18px {
    font-size: 16px;
}

.bg-gray{
    background-color: grey;
}

.btn-primary{
    background-color: black;
    outline-color: blue;

}